body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3rem;
  display: block;
  
}

footer {
  text-align: right;
  color: rgb(61, 3, 251);
  float: both;
  
}
.logo{
  position: relative;
  width: 25%;
}

@media (max-width:500px){
  .card{
    display:block;

  }
  .tile-image{
    width: 400px;
    height: 250px;
  }
  h1{
    text-align: center;
    font-size: 30px;
  }

}
@media (min-width:501px){
  .left{
    float: left;
    width: 50%;
  }
  .right{
    float: right;
    width:50%
  }
  .tile-image{
    width:200px;
    float:left;
  }

 
}

@media (min-width:701px){
  .left{
    float: left;
    width: 50%;
  }
  .right{
    float: right;
    width:50%
  }
  .tile-image{
    width:45%;
    float:left;
    margin-right: 15px;
  }
}
.creative{
  color: rgb(81, 81, 178);
  font-size: 110%;
}