.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
 
  
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#title{
  height: 98.1vh;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.third{
  height:400px;
  background-color: rgb(239, 241, 242);
}
.third > h2{
  text-align: center;
  padding-top: 50px ;
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 2px;
  
}
.circle > img{
  width:100px;
  height:100px;
  border-radius: 50%;
}
#para{
  text-align: center;
}
.list{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 100px;
  flex-basis: 300px;
  align-items: center;
  justify-content: center;
}
